@import url('../variaveis.css');
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primaria);
}

.btn-padrao {
  background-color: var(--secundaria);
  color: var(--primaria);
  font-weight: bold;
}

a {
  cursor: pointer;
}
