/* Organização e formatação de formulários */

form * {
  font-size: 2rem;
}

table {
  margin: 0;
}

td * {
  margin: 0;
}

#categoria * {
  display: inline-block;
}

.radioLabel {
  font-weight: normal;
}

@media only screen and (max-width: 297px) {
  form *{
    font-size: inherit;
  }

  #gravarDados {
    line-height: 2rem;
    white-space: normal;
    height: fit-content;
  }
}
