@import url('../variaveis.css');
.ptd {
  font-weight: bold;
}

p {
  font-size: 120%;
  text-align: justify;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

th, td {
  text-align: center;
}

form>input {
  margin-top: 1.5rem;
}
