@import url('../variaveis.css');
.container h2, h3, th {
  text-align: center;
}

h3, .ptd {
  font-weight: bold;
}

p {
  font-size: 120%;
}

form {
  margin: 0;
}

form>input {
  margin-top: 1.5rem;
}
